body{
    box-sizing: border-box;
}

#search-bar {
    margin-top: 2%;
}

#search-text {
width: 85%;
}

#search-button {
    margin: 0;
}

.cards {
    margin-left: 7%;
}

body {
    background-color: #E1EEC7;
}

.navbar {
    background-color: moccasin;
}

#mission {
    color: salmon;
    text-align: center;
}