body{
    box-sizing: border-box;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 16px;
    background-color: rgb(63, 122, 77);
    background-image: url("../images/supermartketssavvy.jpg");
}


#main-navbar {
    background-color: cadetblue;
    color: white;
}

.inherit-color {
    color: inherit;
}

.inherit-color:hover {
    color: whitesmoke;
}

.w-100 {
    max-width: 1200px;
    max-height: 600px;
}

.carousel {
    box-shadow: 2px 2px 20px;
}

.form-container {
    margin-bottom: 20px;
    padding-right: 10px;
}

.restrictions-container {
    background-color: white;
    border-radius: 5px;
}

#search-form {
    margin-top: 2%;
}

#search-text {
width: 80%;
}

#search-button {
    margin: 0;
    color: rgb(255, 255, 255);    
    border-color: cadetblue;
    background-color: cadetblue;
    
}

#recipe-search {
    border-radius: 20px;
}

.navbar {
    margin: 0 0 30px 0;
}

.card {
    width: 18rem;
       
}

.card-body {    
    margin-bottom: 20px;   
    /* background-color: rgb(253, 253, 253); */
    border-radius: 15px;
    height: 500px;
    box-shadow: 2px 2px 20px;
    background-color: whitesmoke;
    
}

.card-img-top {    
    margin-bottom: 15px;
}



.btn {
    border-radius: 25px;

}

.btn-primary {
    position: absolute;
    left: 30px;
    bottom: 40px;
    border-color: cadetblue;
    background-color: cadetblue;
    

}

#dietary-restrictions {
    margin-bottom: 5px;
    color: rgb(255, 255, 255);    
    border-color: cadetblue;
    background-color: cadetblue;

    
}

.d-md-block {
    background-color: cadetblue;
    opacity: .85;
}

/* #searchbar-div, #search-div, #dietary-div {
margin: 0%;
} */
#dietary-div {
    text-align: center;
}
#search-div {
    text-align: right;
    margin-left: 0px;
}

#carouselExampleCaptions img {
    width: 1200px;
    height: 500px;
}

#mission-statement {
    color: white;
    background-color: cadetblue;
}










/* 

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */