body{
    box-sizing: border-box;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 16px;
    /* background-color: rgba(35, 131, 35, 0.637); */
    
}




.w-100 {
    max-width: 1200px;
    max-height: 600px;
}

.form-container {
    margin-bottom: 20px;
    padding-right: 10px;

}

#search-form {
    margin-top: 2%;
}

#search-text {
width: 80%;
}

#search-button {
    margin: 0;
}

.navbar {
    margin: 0 0 30px 0;
}

.card {
    width: 18rem;
       
}

.card-body {    
    margin-bottom: 20px;   
    background-color: rgb(253, 253, 253);
    border-radius: 15px;
    height: 500px;
    
}

.card-img-top {    
    margin-bottom: 15px;
}



.btn {
    border-radius: 25px;

}

.btn-primary {
    position: absolute;
    left: 30px;
    bottom: 40px;

}

#dietary-restrictions {
    margin-bottom: 5px;
    
}

<<<<<<< HEAD
<<<<<<< HEAD
/* #searchbar-div, #search-div, #dietary-div {
margin: 0%;
} */
#dietary-div {
    text-align: center;
}
#search-div {
    text-align: right;
    margin-left: 0px;
=======
.d-md-block {
    background-color: cadetblue;
    opacity: .85;
>>>>>>> master
=======
.d-md-block {
    background-color: cadetblue;
    opacity: .85;
>>>>>>> master
}

#carouselExampleCaptions img {
    width: 1200px;
    height: 500px;
}











/* 

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */